[submodule "Assets/Library/athaeck-unity-library-scripts"]
	url = https://github.com/NickHaecker/athaeck-unity-library-scripts.git
[submodule "Assets/Scripts/athaeck-unity-window-extension"]
	url = https://github.com/NickHaecker/athaeck-unity-window-extension.git
