[submodule "Assets/Library/athaeck-unity-library-scripts"]
	url = https://github.com/NickHaecker/athaeck-unity-library-scripts.git
[submodule "Assets/Editor/https://github.com/NickHaecker/athaeck-unity-window-extension"]
	path = Assets/Editor/https://github.com/NickHaecker/athaeck-unity-window-extension
	url = https://github.com/NickHaecker/athaeck-unity-window-extension.git
[submodule "Assets/Editor/athaeck-unity-window-extension"]
	path = Assets/Editor/athaeck-unity-window-extension
	url = https://github.com/NickHaecker/athaeck-unity-window-extension.git
